Repository khanlab/snakebids, pull requests merged in 2021-12, with the labels that each got.

#84 upgrade to pybids-0.14.0
  poetry.lock
  pyproject.toml
  snakebids/__init__.py
  snakebids/app.py
  snakebids/fix_dd.py
Labels: bug, maintenance

#73 Add --dash-syntax as alias to all CLI args
  snakebids/app.py
  snakebids/tests/mock/config.py
  snakebids/tests/mock/config.yaml
  snakebids/tests/test_app.py
Labels: enhancement

#87 Reorganize snakebids directory
  poetry.lock
  pyproject.toml
  snakebids/__init__.py
  snakebids/app.py
  snakebids/bids.py
  snakebids/tests/__init__.py
  snakebids/tests/test_generate_inputs.py
  snakebids/tests/test_output.py
  snakebids/tests/test_snakemake_io.py
  snakebids/utils/__init__.py
  snakebids/utils/output.py
  snakebids/utils/snakemake_io.py
Labels: maintenance

#91 Add release-drafter trigger
  .github/workflows/bump_version.yml
  .github/workflows/release_drafter.yml
Labels: skip_changelog

#92 Rename release-drafter workflow
  .github/workflows/bump_version.yml
  .github/workflows/release_drafter.yml
Labels: skip_changelog

#106 Use set() to remove duplicate arg labels
  snakebids/app.py
Labels: bug

#99 Include v0.1.0 case for release-drafter
  .github/workflows/bump_version.yml
  .github/workflows/deploy.yml
Labels: skip_changelog
