Repository khanlab/snakebids, pull requests merged in 2022-02, with the labels that each got.

#121 Fix relative path bug in configfile
  snakebids/app.py
Labels: bug

#111 Enable Snakebids apps to generate boutiques descriptors
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  snakebids/admin.py
  snakebids/app.py
  snakebids/template.py
  snakebids/tests/test_admin.py
  snakebids/tests/test_app.py
  snakebids/tests/test_cli.py
Labels: enhancement

#129 Add templates for issues and PRs
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: skip_changelog
