Repository khanlab/snakebids, pull requests merged in 2023-12, with the labels that each got.

#348 Preserve order of entries in expand method
  snakebids/core/datasets.py
  snakebids/tests/test_datasets.py
  typings/bids/layout/utils.pyi
Labels: bug

#354 Add new reviewers
  .github/auto_assign.yml
Labels: skip_changelog

#353 Update URLs to new repo link
  README.md
  docs/conf.py
  docs/tutorial/tutorial.md
  pyproject.toml
  snakebids/project_template/tests/data/dataset_description.json
Labels: maintenance

#344 Overhaul global filtering of participants
  docs/bids_app/config.md
  snakebids/core/datasets.py
  snakebids/core/filtering.py
  snakebids/core/input_generation.py
  snakebids/tests/helpers.py
  snakebids/tests/test_generate_inputs.py
  snakebids/types.py
Labels: bug

#356 Add test coverage
  .github/workflows/test.yml
  codecov.yml
  poetry.lock
  pyproject.toml
Labels: maintenance

#358 Move example dataset from docs into template
  docs/tutorial/bids
  snakebids/project_template/tests/data/sub-001
  snakebids/project_template/tests/data/sub-001/anat/sub-001_T1w.nii.gz
  snakebids/project_template/tests/data/sub-001/func/sub-001_task-rest_run-1_bold.nii.gz
  snakebids/project_template/tests/data/sub-001/func/sub-001_task-rest_run-2_bold.nii.gz
Labels: bug
