Repository khanlab/snakebids, pull requests merged in 2023-08, with the labels that each got.

#320 Update scipy constraints for py3.8
  poetry.lock
  pyproject.toml
Labels: maintenance

#323 Fix mistaken comparison of BidsEntity to str sets
  snakebids/tests/strategies.py
Labels: bug, skip_changelog

#326 Fix version fetching in readthedocs build
  .readthedocs.yml
Labels: bug, documentation

#331 Add poetry lock check
  .github/workflows/test.yml
  poetry.lock
Labels: maintenance
