Repository khanlab/snakebids, pull requests merged in 2023-05, with the labels that each got.

#288 Update pybids py37, py38+ constraints
  poetry.lock
  pyproject.toml
Labels: maintenance

#290 Ignore deadlines for hypothesis tests on pr
  .github/workflows/test.yml
  snakebids/tests/conftest.py
  snakebids/tests/test_printing.py
  snakebids/tests/test_utils.py
Labels: maintenance, test

#289 Fix `--filter_{input_type}`
  snakebids/cli.py
  snakebids/tests/test_cli.py
Labels: bug
