Repository khanlab/snakebids, pull requests merged in 2023-02, with the labels that each got.

#231 [FIX] change error message when no input found
  snakebids/core/input_generation.py
Labels: bug

#247 Update dependencies
  poetry.lock
  pyproject.toml
Labels: maintenance

#252 Introduce PybidsError for cryptic pybids errors
  snakebids/core/input_generation.py
  snakebids/exceptions.py
  snakebids/tests/test_generate_inputs.py
Labels: enhancement

#254 Elaborate on warning for empty components
  snakebids/core/input_generation.py
Labels: enhancement
