Repository khanlab/snakebids, pull requests merged in 2024-07, with the labels that each got.

#440 Fix comparison syntax in tet counting logic
  .github/workflows/nightly.yml
Labels: bug, skip_changelog

#439 Update dependencies
  poetry.lock
  pyproject.toml
  snakebids/core/datasets.py
  snakebids/tests/test_datasets.py
Labels: maintenance

#441 Add pattern to coverage upload action
  .github/workflows/upload_coverage.yml
Labels: maintenance

#444 Specify sha and PR number in codecov upload
  .github/workflows/upload_coverage.yml
Labels: maintenance, skip_changelog

#445 Do codecov upload with tests and delay notifcation
  .github/workflows/test.yml
  .github/workflows/upload_coverage.yml
Labels: bug, skip_changelog

#446 Do coverage upload in one workflow
  .github/workflows/test.yml
  .github/workflows/upload_coverage.yml
Labels: bug, skip_changelog

#443 Add CLI argument in BidsValidator plugin
  snakebids/plugins/validator.py
  snakebids/project_template/{{name_slug}}/config/snakebids.yml
  snakebids/tests/test_plugins/test_validate_plugin.py
Labels: enhancement

#453 Update dependencies in template documentation
  snakebids/project_template/{% if create_doc_template %}docs{% endif %}/requirements.txt.jinja
Labels: bug

#449 Add codespell support (config, workflow to detect/not fix) and make it fix few typos
  .github/workflows/codespell.yml
  .pre-commit-config.yaml
  README.md
  docs/api/paths.rst
  docs/migration/0.11_to_0.12.md
  docs/migration/0.7_to_0.8.md
  pyproject.toml
  scripts/update_bids.py
  snakebids/app.py
  snakebids/bidsapp/hookspecs.py
  snakebids/cli.py
  snakebids/core/datasets.py
  snakebids/core/input_generation.py
  snakebids/io/printing.py
  snakebids/jinja2_ext/snakebids_version.py
  snakebids/plugins/base.py
  snakebids/plugins/bidsargs.py
  snakebids/plugins/component_edit.py
  snakebids/plugins/pybidsdb.py
  snakebids/plugins/validator.py
  snakebids/project_template/{{name_slug}}/config/snakebids.yml
  snakebids/tests/test_datasets.py
  snakebids/tests/test_generate_inputs.py
  snakebids/utils/containers.py
  snakebids/utils/output.py
  snakebids/utils/snakemake_io.py
Labels: maintenance
