Repository khanlab/snakebids, pull requests merged in 2024-02, with the labels that each got.

#368 Exclude `run` from test strategy
  snakebids/tests/test_generate_inputs.py
Labels: bug, skip_changelog

#369 Update updated spec name, declare spec for tests
  .github/workflows/test.yml
  scripts/update_bids.py
  snakebids/paths/_config.py
  snakebids/paths/resources/spec.0.11.0.yaml
  snakebids/paths/specs.py
  snakebids/paths/specs.pyi
  snakebids/tests/conftest.py
  snakebids/tests/test_paths/test_bids.py
  snakebids/tests/test_paths/test_specs.py
  snakebids/tests/test_yaml.py
Labels: maintenance, skip_changelog

#375 Default to case-insensitive search for regex
  snakebids/core/_querying.py
  snakebids/tests/test_generate_inputs.py
Labels: bug

#374 Update khanlab/actions integration
  .github/workflows/nightly.yml
  .github/workflows/test.yml
Labels: maintenance

#382 Prevent custom entities from drawing standard ent
  snakebids/tests/test_paths/test_bids.py
Labels: bug

#380 Move codecoverage upload to seperate job
  .github/workflows/test.yml
Labels: maintenance

#383 Add dependabot config
  .github/dependabot.yml
Labels: skip_changelog

#385 Update dependabot config
  .github/dependabot.yml
Labels: skip_changelog

#388 Update auto-assign actions workflow
  .github/workflows/assign.yml
Labels: skip_changelog

#389 Eliminate initial "_" when suffix is only entity
  snakebids/paths/_factory.py
  snakebids/tests/test_paths/test_bids.py
Labels: bug
